/* Global styles */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #F7F7F7;
    margin: 0;
    padding: 0;
}

h1{
    color: #333333;
}

header {
    background-color: #FFDFDF;
    color: white;
    text-align: center;
    padding: 10px;
}

nav {
    justify-self: center;
    background-color: #d6acac;
    margin-top: 10px;
    padding: 8px;
    border-radius: 50px;
}

nav a {
    color: rgb(19, 17, 17);
    text-decoration: none;
    padding: 10px;
    justify-items: center;
}

nav a:hover {
    text-decoration: underline;

}


.content {
    width: 80%;
    margin: 20px auto;
    background-color: #FFF6F6;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
}

/* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    padding: 10px;
    border: 1px solid #e56666;
    text-align: left;
}

/* Button styles */
.button {
    background-color: #f394ba;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.button:hover {
    background-color: #f288b2;
}
