{% extends "base.html" %}

{% block content %}
    <div class="heading">
        <h2>About Us</h2>
    </div>
    
    <div class="team-container">
        <div class="member project-guide">
            <img src="static\member1.jpg" alt="Project Guide">
            <div class="project-guide-description">
                <p>Prof. Smruti Vyavahare</p>
                <p>Project Guide</p>
            </div>
        </div>
        </div>
        <div class="team-container">
        <div class="member">
            <img src="static\member2.jpeg" alt="Team Member 1">
            <div class="member-description">
                <p>Shivam Awasare</p>
                <p>T1411004</p>
            </div>
        </div>

        <div class="member">
            <img src="static\member3.jpg" alt="Team Member 2">
            <div class="member-description">
                <p>Lavanya Moolya</p>
                <p>T1411050</p>
            </div>
        </div>
    </div>
    <div class="team-container">
        <div class="member">
            <img src="static\member4.jpg" alt="Team Member 3">
            <div class="member-description">
                <p>Avishkar Karche</p>
                <p>T1411036</p>
            </div>
        </div>

        <div class="member">
            <img src="static\member5.jpg" alt="Team Member 4">
            <div class="member-description">
                <p>Sumedh Kedari</p>
                <p>T1411004</p>
            </div>
        </div>
    </div>
{% endblock %}

