<!DOCTYPE html>
<html>
<head>
    <title>Inventory Management</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Inventory Management</title>
   <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='add_edit_product.css') }}"> 
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    
</head>
<body>
    <header>
        <h1>Inventory Management</h1>
    </header>
        <nav>
            <a href="/">Home</a>
            <a href= "templates\description.html">About</a>
            <a href= "about.html">About Us</a>
            
        </nav>
    
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
